@tailwind base;
@tailwind components;
@tailwind utilities;
@import './theme/index.css';

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: block;
  }
  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    margin: 0;
  }
  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  *,
  ::before,
  ::after {
    border-width: 0;
    border-style: solid;
  }
  *::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }
  *::-webkit-scrollbar {
    display: block;
    width: 0.75rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-primary;
    border-radius: 0.5rem;
  }
  @font-face {
    font-display: block;
    font-family: 'Nagoda';
    font-style: normal;
    src: local('Nagoda'), url('/fonts/Nagoda.ttf');
  }
}

@layer components {
  .font-nagoda {
    font-family: 'Nagoda';
  }
  .cos-logo {
    @apply relative h-[2.25rem] w-[10rem] text-3xl text-transparent;
  }
  .cos-logo::before {
    @apply font-nagoda absolute inset-0 text-clip bg-gradient-pink;
    content: 'Tabby Nav';
    background-clip: text;
    z-index: 1;
  }
  .cos-logo::after {
    @apply font-nagoda absolute inset-0 text-transparent;
    content: 'Tabby Nav';
    text-shadow: 0.1875rem 0.1875rem 0 rgba(249, 99, 117, 0.6);
    z-index: 0;
  }
}

@layer utilities {
}
